/* Simple style created by -- cesarherreralic
   you can find me on
   http://fiverr.com/cesarherreralic
   email: cesarherreralic@gmail.com
*/

.mar-12{
	margin: 12px;
}

.col-red{
	color:red;
}

.troop-buttons{
	float: right;
}
